:root {
  --red: #f21b22;
  --blue: #1d27c4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
}
[v-cloak] {
  visibility: hidden;
}
.last-step-btn {
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  transform: translate(-50%, -50%);
}
.audio {
  position: absolute;
  top: 50px;
  right: 20px;
}
.last-step-btn.blue {
  background-color: var(--blue);
  left: -14px;
}
.last-step-btn.red {
  background-color: var(--red);
  right: -34px;
}
.next-game {
  position: absolute;
  padding: 1em 2em;
  background-color: #67a7e9;
  border-radius: 10px;
  text-transform: uppercase;
  top: 50px;
  left: 50px;
  cursor: pointer;
}
.reset-btn {
  position: absolute;
  padding: 1em 2em;
  background-color: #67a7e9;
  border-radius: 10px;
  text-transform: uppercase;
  bottom: 50px;
  left: 50px;
  cursor: pointer;
}
.wrapper {
  display: flex;
  min-height: 100vh;
}
.score-wrap {
  width: 17%;
  min-height: 100vh;
  background-color: #cfa698;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-table {
  width: 66%;
  height: 100vh;
  background-color: black;
  border-left: 30px solid #975858;
  border-right: 30px solid #975858;
  display: flex;
  flex-direction: column;
}
.score-table {
  position: relative;
  min-width: 15rem;
  min-height: 10rem;
  font-size: 7rem;
  line-height: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 15px solid gray;
  z-index: 1;
}
.score-table .span {
  text-shadow: #FC0 1px 0 10px;
}
.score-blue {
  background-color: var(--blue);
}
.score-red {
  background-color: var(--red);
}
.win-button {
  padding: 1em 2em;
  background: #faf8ff;
  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}
.win-button:active {
  -webkit-box-shadow: inset 1px 1px 1px rgb(0 0 0 / 30%);
  box-shadow: inset 1px 1px 1px rgb(0 0 0 / 30%);
}
.total-score-wrap {
  background: rgb(45,72,199);
  background: linear-gradient(0deg, rgba(45,72,199,1) 0%, rgba(131,118,249,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.total-score {
  flex-grow: 0;
  background: rgb(0,41,218);
  background: linear-gradient(90deg, rgba(0,41,218,1) 0%, rgba(253,27,27,1) 100%);
  border: 3px solid gray;
}
.play-table-wrap {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 1fr;
  flex-grow: 1;
  margin-bottom: 1rem;
}
.play-table-type {
  background-color: #975858;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.play-table-type.blue {
  background-color: #67a7e9;
  border-right: 2px solid;
}
.play-table-type.red {
  background-color: #e96779;
  border-left: 2px solid;
}
.play-table-main {
  background: rgb(103,167,233);
  background: linear-gradient(90deg, rgba(103,167,233,1) 50%, rgba(233,103,121,1) 50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  gap: 1rem;
  padding: 3.5rem 1.5rem;
}
.answer-row {
  background-color: black;
}
.step  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 14rem;
  border-radius: 10px;
  font-size: 10rem;
  font-weight: bold;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.play-table-type.blue .step {
  background-color: #e96779;
}
.play-table-type.red .step {
  background-color: #67a7e9;
}
.errors-wrap li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5rem;
  height: 4rem;
  background-color: #d7b321;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.errors-wrap li.is-active {
  box-shadow: 0 0 10px 15px #ffe682;
  background-color: #f5cc28;

}
.errors-wrap li + li {
  margin-top: 0.2rem;
}
.errors-wrap li span {
  position: absolute;
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 15px;
  background-color: #f21b22;
  transform: rotate(32deg);
}
.errors-wrap li span:first-child {
  transform: rotate(146deg);
}
.scene {
  perspective: 600px;
  border: 2px solid black;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card__face--front {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  background: palevioletred;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 31%) inset;
-moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 31%) inset;
box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 31%) inset;
}

.card__face--back {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotateX( 180deg );
  padding: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
}
.card.is-flipped {
  transform: rotateX(180deg);
}
.card-answer {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
